In [ ]:
#Training the Student Model (XG Boost) on the basis of Distilled Knowledge.

In [2]:
#Imports

In [130]:
import numpy as np
import pandas as pd

In [131]:
df=pd.read_csv('leaddata.csv')

In [132]:
df.head(5)

,Unnamed: 0,Date,Observed_Precip,Ensemble_Mean,Ensemble_Residual,New_Residual,New_Prediction,Lat,Lon,Lead_Time
0,0,2015-09-12,9.9788,0.215747,-9.763053,-9.397395,9.613142,21.125,82.125,1
1,1,2015-09-19,0.0000,4.453987,4.453987,4.001149,0.452838,21.125,82.125,1
2,2,2015-09-26,0.0000,3.174003,3.174003,2.981025,0.192978,21.125,82.125,1
3,3,2016-06-11,0.0000,0.169509,0.169509,0.029695,0.139815,21.125,82.125,1
4,4,2016-06-18,17.1070,2.116797,-14.990203,-10.014501,12.131297,21.125,82.125,1

In [133]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df.set_index('Date', inplace=True)
df.index=pd.to_datetime(df.index)
df.head(5)

,Observed_Precip,Ensemble_Mean,Ensemble_Residual,New_Residual,New_Prediction,Lat,Lon,Lead_Time
Date,,,,,,,,
2015-09-12,9.9788,0.215747,-9.763053,-9.397395,9.613142,21.125,82.125,1
2015-09-19,0.0000,4.453987,4.453987,4.001149,0.452838,21.125,82.125,1
2015-09-26,0.0000,3.174003,3.174003,2.981025,0.192978,21.125,82.125,1
2016-06-11,0.0000,0.169509,0.169509,0.029695,0.139815,21.125,82.125,1
2016-06-18,17.1070,2.116797,-14.990203,-10.014501,12.131297,21.125,82.125,1

In [134]:
fdf=pd.read_csv('dataset1.csv')

In [135]:
fdf.head(5)

,Unnamed: 0,Date,CFST126_00,CFST126_01,CFST126_02,CFST126_03,CFST382_00,CFST382_01,CFST382_02,CFST382_03,...,GFST382_03,Lat,Lon,Observed_Precip,Ensemble_Mean,Ensemble_Spread,Ensemble_Residual,DOY,Climatology,Lead_Time
0,0,2003-06-07,0.005176,0.001284,0.000211,0.002621,0.011906,0.006796,0.001495,0.001284,...,0.045011,22.625,81.125,0.0000,0.026791,0.024785,0.026791,158,1.325386,1
1,1,2003-06-07,0.005176,0.001284,0.000211,0.002621,0.011906,0.006796,0.001495,0.001284,...,0.045011,22.625,81.375,3.1982,0.026791,0.024785,-3.171409,158,1.325386,1
2,2,2003-06-07,0.005176,0.001284,0.000211,0.002621,0.011906,0.006796,0.001495,0.001284,...,0.045011,22.625,81.625,4.3942,0.026791,0.024785,-4.367409,158,1.325386,1
3,3,2003-06-07,0.005176,0.001284,0.000211,0.002621,0.011906,0.006796,0.001495,0.001284,...,0.045011,22.625,81.875,2.6790,0.026791,0.024785,-2.652209,158,1.325386,1
4,4,2003-06-07,0.005176,0.001284,0.000211,0.002621,0.011906,0.006796,0.001495,0.001284,...,0.045011,22.625,82.125,2.7697,0.026791,0.024785,-2.742909,158,1.325386,1

In [136]:
fdf.drop(columns=['Unnamed: 0'], inplace=True)
fdf.set_index('Date', inplace=True)
fdf.index=pd.to_datetime(fdf.index)
fdf.head(5)

,CFST126_00,CFST126_01,CFST126_02,CFST126_03,CFST382_00,CFST382_01,CFST382_02,CFST382_03,GFST126_00,GFST126_01,...,GFST382_03,Lat,Lon,Observed_Precip,Ensemble_Mean,Ensemble_Spread,Ensemble_Residual,DOY,Climatology,Lead_Time
Date,,,,,,,,,,,,,,,,,,,,,
2003-06-07,0.005176,0.001284,0.000211,0.002621,0.011906,0.006796,0.001495,0.001284,0.05375,0.055594,...,0.045011,22.625,81.125,0.0000,0.026791,0.024785,0.026791,158,1.325386,1
2003-06-07,0.005176,0.001284,0.000211,0.002621,0.011906,0.006796,0.001495,0.001284,0.05375,0.055594,...,0.045011,22.625,81.375,3.1982,0.026791,0.024785,-3.171409,158,1.325386,1
2003-06-07,0.005176,0.001284,0.000211,0.002621,0.011906,0.006796,0.001495,0.001284,0.05375,0.055594,...,0.045011,22.625,81.625,4.3942,0.026791,0.024785,-4.367409,158,1.325386,1
2003-06-07,0.005176,0.001284,0.000211,0.002621,0.011906,0.006796,0.001495,0.001284,0.05375,0.055594,...,0.045011,22.625,81.875,2.6790,0.026791,0.024785,-2.652209,158,1.325386,1
2003-06-07,0.005176,0.001284,0.000211,0.002621,0.011906,0.006796,0.001495,0.001284,0.05375,0.055594,...,0.045011,22.625,82.125,2.7697,0.026791,0.024785,-2.742909,158,1.325386,1

In [137]:
merged = pd.merge(
    df,
    fdf,
    on=["Date", "Lat", "Lon", "Lead_Time"],
    how="inner"
)

merged.drop(columns=[
    'Observed_Precip_y', 'Ensemble_Mean_y', 'Ensemble_Residual_y'
], inplace=True)

merged.rename(columns={
    'Observed_Precip_x': 'Observed_Precip',
    'Ensemble_Mean_x': 'Ensemble_Mean',
    'Ensemble_Residual_x': 'Ensemble_Residual'
}, inplace=True)

missing = merged.isna().sum()
print("Missing values:\n", missing[missing > 0])

Missing values:
 Series([], dtype: int64)

In [138]:
merged.head(2)

,Observed_Precip,Ensemble_Mean,Ensemble_Residual,New_Residual,New_Prediction,Lat,Lon,Lead_Time,CFST126_00,CFST126_01,...,GFST126_01,GFST126_02,GFST126_03,GFST382_00,GFST382_01,GFST382_02,GFST382_03,Ensemble_Spread,DOY,Climatology
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-12,9.9788,0.215747,-9.763053,-9.397395,9.613142,21.125,82.125,1,0.041936,0.016970,...,0.161197,0.085656,0.058550,0.142573,0.139095,0.239260,0.265726,0.302177,255,4.242173
2015-09-19,0.0000,4.453987,4.453987,4.001149,0.452838,21.125,82.125,1,8.884331,7.347613,...,9.071239,6.566927,6.019908,3.355528,3.633624,4.377062,3.227325,2.128354,262,5.840208

In [3]:
#Modelling

In [139]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [140]:
forecast_cols = [col for col in merged.columns if col.startswith(("CFST", "GFST"))]

input_features = forecast_cols + [
    "Ensemble_Mean", "Ensemble_Spread",
    "DOY", "Climatology",
    "Lat", "Lon", "Lead_Time"
]

target_col = "New_Residual"

In [141]:
merged_clean = merged.dropna(subset=[target_col] + input_features).copy()

X = merged_clean[input_features].values
y = merged_clean[target_col].values.reshape(-1, 1)

In [142]:
scaler_y = StandardScaler()
y_scaled = scaler_y.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(
    X, y_scaled, test_size=0.2, random_state=42
)

print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)

X_train shape: (58548, 23)
y_train shape: (58548, 1)

In [143]:
y_train_flat = y_train.flatten()
y_test_flat = y_test.flatten()

In [144]:
xgb_model = xgb.XGBRegressor(
    n_estimators=500,
    max_depth=6,
    learning_rate=0.03,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42,
    n_jobs=-1,
    verbosity=1
)

In [145]:
xgb_model.fit(X_train, y_train_flat)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.8, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             feature_weights=None, gamma=None, grow_policy=None,
             importance_type=None, interaction_constraints=None,
             learning_rate=0.03, max_bin=None, max_cat_threshold=None,
             max_cat_to_onehot=None, max_delta_step=None, max_depth=6,
             max_leaves=None, min_child_weight=None, missing=nan,
             monotone_constraints=None, multi_strategy=None, n_estimators=500,
             n_jobs=-1, num_parallel_tree=None, ...)

In [146]:
y_pred_scaled = xgb_model.predict(X_test)
y_pred = scaler_y.inverse_transform(y_pred_scaled.reshape(-1, 1)).flatten()

In [147]:
ens_index = input_features.index("Ensemble_Mean")
ens_mean_test = X_test[:, ens_index]

In [148]:
final_prediction = ens_mean_test - y_pred

In [149]:
final_prediction

array([-0.90980066,  3.72208611,  0.37447828, ..., -0.39783458,
       -0.12628693,  9.95994865])

In [150]:
X = merged_clean[input_features].values
y = merged_clean[target_col].values.reshape(-1, 1)

position_indices = np.arange(len(merged_clean))

X_train, X_test, y_train, y_test, train_idx, test_idx = train_test_split(
    X, y_scaled, position_indices, test_size=0.2, random_state=42
)

In [151]:
merged_clean["Distilled_Residual"] = np.nan
merged_clean["Distilled_Prediction"] = np.nan

merged_clean.iloc[test_idx, merged_clean.columns.get_loc("Distilled_Residual")] = y_pred
merged_clean.iloc[test_idx, merged_clean.columns.get_loc("Distilled_Prediction")] = final_prediction

In [152]:
merged_clean_reset = merged_clean.reset_index(drop=False)

# Merge
merged = merged.merge(
    merged_clean_reset[["Date", "Lat", "Lon", "Lead_Time", "Distilled_Residual", "Distilled_Prediction"]],
    on=["Date", "Lat", "Lon", "Lead_Time"],
    how="left"
)

In [ ]:
fdf=merged[["Date", "Observed_Precip", "Ensemble_Mean", "New_Prediction", "Distilled_Prediction", "Lead_Time", "Lat", "Lon"]].dropna()

In [154]:
fdf.to_csv('final.csv')

In [1]:
#End